
.icon-th-list:before { content: '\e800'; } /* '' */
.icon-ok-circled:before { content: '\e801'; } /* '' */
.icon-ok:before { content: '\e802'; } /* '' */
.icon-star-empty:before { content: '\e803'; } /* '' */
.icon-star:before { content: '\e804'; } /* '' */
.icon-spin4:before { content: '\e805'; } /* '' */
.icon-cancel-circled:before { content: '\e806'; } /* '' */
.icon-cancel-circled-outline:before { content: '\e807'; } /* '' */
.icon-cancel:before { content: '\e808'; } /* '' */
.icon-bookmark:before { content: '\e809'; } /* '' */
.icon-bookmark-empty:before { content: '\e80a'; } /* '' */
.icon-lock-open-alt:before { content: '\e80b'; } /* '' */
.icon-lock:before { content: '\e80c'; } /* '' */
.icon-home:before { content: '\e80d'; } /* '' */
.icon-menu:before { content: '\e80e'; } /* '' */
.icon-cw:before { content: '\e80f'; } /* '' */
.icon-ccw:before { content: '\e810'; } /* '' */
.icon-left-circled:before { content: '\e811'; } /* '' */
.icon-right-circled:before { content: '\e812'; } /* '' */
.icon-up-circled:before { content: '\e813'; } /* '' */
.icon-down-circled:before { content: '\e814'; } /* '' */
.icon-list:before { content: '\e815'; } /* '' */
.icon-list-bullet:before { content: '\e816'; } /* '' */
.icon-align-justify:before { content: '\e817'; } /* '' */
.icon-tasks:before { content: '\e818'; } /* '' */
.icon-at:before { content: '\e819'; } /* '' */
.icon-google:before { content: '\e81a'; } /* '' */
.icon-user-add:before { content: '\e81b'; } /* '' */
.icon-users:before { content: '\e81c'; } /* '' */
.icon-user:before { content: '\e81d'; } /* '' */
.icon-list-1:before { content: '\e81e'; } /* '' */
.icon-menu-1:before { content: '\e81f'; } /* '' */
.icon-menu-outline:before { content: '\e820'; } /* '' */
.icon-googleplus-rect:before { content: '\e821'; } /* '' */
.icon-twitter:before { content: '\e822'; } /* '' */
.icon-facebook-rect:before { content: '\e823'; } /* '' */
.icon-align-justify-1:before { content: '\e824'; } /* '' */
.icon-up-hand:before { content: '\e825'; } /* '' */
.icon-art-gallery:before { content: '\e826'; } /* '' */
.icon-picture:before { content: '\e827'; } /* '' */
.icon-picture-1:before { content: '\e828'; } /* '' */
.icon-picture-2:before { content: '\e829'; } /* '' */
.icon-picture-outline:before { content: '\e82a'; } /* '' */
.icon-picture-3:before { content: '\e82b'; } /* '' */
.icon-picture-4:before { content: '\e82c'; } /* '' */
.icon-download-outline:before { content: '\e82d'; } /* '' */
.icon-ellipsis-vert:before { content: '\e82e'; } /* '' */
.icon-trash:before { content: '\e82f'; } /* '' */
.icon-lightbulb:before { content: '\e830'; } /* '' */
.icon-tag:before { content: '\e831'; } /* '' */