*, *:before, *:after{
box-sizing: border-box;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body{
  background: #e8e8e8;
  font-family: 'Roboto', sans-serif;
  margin: auto;
  overflow-x:hidden;  
}
.site-header{
  height: 45px;
  background: #ffbb00;
  width: 100%;
}
.visible-site-hedder{
  display: block;
}
.hide-site-hedder{
  display: none;
  background: grey;
  width: 100%;
  height: 45px;
}
.align-center{
    padding-left: 40%;
  line-height: 2em;
}
.i-name{
    cursor: pointer;
	color: rgba(81, 69, 69, 0.6);

}
.i-name:hover{
	color:rgba(0, 0, 0, 1);
}
.icon-menu{
 float:left;
  left: 38px;
  position: absolute;
  top: 13px; 
  margin-right:0.7em;
  font-size: 1.1em;
}
.icon-menu:before{
    margin-right: 7px !important;
    margin-right: 3px !important;
    font-size: 1.2em;
}

.icon-cw{
  float: right;
  top: 9px;
  right: 68px;
  position: absolute;
  font-size: 1.4em;
}
#icon-th-list-top{
  float: right;
  top: 12px;
  right: 29px;
  position: absolute;
  font-size: 1.2em;
}
#list-menu{
	 float: right;
    top: 12px;
    right: 29px;
    position: absolute;
    font-size: 1.2em;
    position: relative;
    right: 68%;
}
#pic-icon{
  position: relative;
  left: 50%;
  top: 14px;
}
.o{
  display: inline-block;
  padding-left: 3%;
  padding-top: 1%
}
#done{
  float: right;
  padding: 10px;
  font-size: .8em;
}
#done:hover{
cursor: pointer;
background: rgba(0,0,0,.4);
}

.input-div {
    background: white;
    display: block;
    width: 50%;
    margin: 0 auto;
    margin-top: 7%;
    height: 45px;
	-webkit-box-shadow: 0 7px 4px -5px #777;
	-moz-box-shadow:  0 7px 4px -5px #777;
	 box-shadow: 0 5px 4px -5px #777
}
.input-hide-div{
	  background: rgb(255, 255, 255);
	  display: none;
	  width: 50%;
	  position: relative;
	  margin: 0px auto;
      min-height: 36px;
      height: auto;
      margin-top: 7%;
      margin-bottom: 4%;
	  -webkit-box-shadow: 0 7px 4px -5px #777;
	  -moz-box-shadow: 0 7px 4px -5px #777;
	  box-shadow: 0 5px 4px -5px #777; 
}
.input-field-div-left {
	   width: 78%;
	   height: 44px;
	   float: left;
	-webkit-box-shadow: 1px 0px 4px -5px #777;;
	-moz-box-shadow:  1px 0px 4px -5px #777;
	  border-right: 1px solid beige;
}

.input-field-div-right {
	  width: 21%;
	  float: right;
	  height: 44px;
}
.title-div{
      padding:5px;
	  background: white;
	  display: block;
	  width: 100%;
	  min-height: 36px;
    height: auto;
    border-bottom: 1px solid rgb(232, 222, 222);
}
.note-div{
     padding: 7px;
	 background: white;
	  display: block;
	  width: 100%;
	  min-height: 85px;
      height: auto;
}
.option-div{
	  background: white;
	  display: block;
	  width: 100%;
	  height: 36px;
}

div[data-placeholder]:not(:focus):before {
    content: attr(data-placeholder);
    float: left;
    font-size: 17px;
	color: #BAAFAF;
	font-color: black;
	padding-top: 9px;
    padding-left: 5px;
}

:focus {
outline: 0;
}


.section {
  width: 80%;
  min-height: 657px;
  margin: 0px auto;
  height: auto;
  margin-top: 4%;
 // border:1px solid;
}

.notes{
  margin: 0px;
  width: 100%;
  height: auto;
  display: inline-block;
  padding: 6px 15px;
  padding-bottom: 46px;
  padding-top: 35px;
  overflow-y: hidden;
  overflow-x: hidden; 
  margin-bottom: -3.0px; 
  font-size: 14px;
}
.title{
  background: rebeccapurple;
  width: 100%;
  position: absolute;
  top: 0px;
  height: 35px;
  line-height: 2em;
  text-align: center;
  font-size: 1.3em;
}
#title-1{
  background: rgba(165, 163, 163,1); 
}
#notes-1{
  color: rgba(79, 67, 67, 1);
  line-height: 1.5em;
  min-height:300px;
  max-height: 400px; 
  background: rgba(165, 163, 163,1); 
}
#title-2{
  background: rgba(255, 109, 63, 1);
}
#notes-2 {
  line-height: 1.4em;
  min-height:310px; 
  background: rgba(255, 109, 63, 1);
}
#title-3{
  background: rgba(255, 218, 0, 1); 
}
#notes-3 {
  line-height: 1.4em;
  min-height:290px; 
  background: rgba(255, 218, 0, 1);   
}
#title-4{
  background:rgba(63, 195, 255, 1); 
}
#notes-4 {
  color: black;
  line-height: 1.5em;
  min-height:300px; 
  min-height:330px; 
  background: rgba(63, 195, 255, 1);
}
/*
div[id^='containernew-']{
  background: white;
  min-height: 200px;
}
*/
.newDivs-title{
  background: white;
}
.newDivs{
  background: white;
  min-height: 200px;  
}

#icon-ok {
  font-size: 1.7em;
}
.note-container {
    position: relative;
    height: auto;
    display: inline-block;
    float: left;
    width: 22%;
    margin: 0 10px;
    z-index: auto;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.note-bottom-option {
  display: none;
  background: rgba(137, 130, 130, .6);
  padding-top: 9px;
  position: absolute;
  width: 100%;
  height: 46px;
  bottom: -3px;
  opacity: 0.8;
  padding-left: 10px;
}
.tick-icon {
  display: none;
  position: absolute;
  width: 28px;
  height: 28px;
  left: -18px;
  top: -15px;
  z-index: 4000;
}
.close-icon{
  display: none;
  position: absolute;
  right: -16px;
  font-size: 1.7em;
  top: -15px;
  z-index: 4000;
}
.note-container:hover > div.tick-icon{
 cursor: pointer;
 display:inline-block;
}
.note-container:hover > div.close-icon{
  cursor: pointer;
  display:inline-block;
}
.note-container:hover > div.note-bottom-option {
 cursor: pointer;
 display:block;
}
.note-container:hover{
   cursor: pointer; 
  -webkit-box-shadow: 1px 4px 24px 1px rgba(112,103,112,1);
  -moz-box-shadow: 1px 4px 24px 1px rgba(112,103,112,1);
   box-shadow: 1px 4px 24px 1px rgba(112,103,112,1);
}
.menu {
    padding-left: 20px;
    background:#FFF;
    position: absolute;
    top:0;
    height: 100%;
    width:240px;
    border: 1px solid;
    
}
.side-menu-ul li{
    list-style-type: none;
    margin: 33px -42px;
}
#side-menu{
   transition: transform .6s  linear;
    transform: translate(-240px,0px);
       
}
#side-menu:target {
  transform: translate(0px,0px);
}

.overlay {
    position: fixed;
    top:0;
    left: 0px;
    width: 100%;
    height:100%;
    visibility: hidden;
    opacity: 0;
    z-index: 1000;
    transition:opacity .3s ease-in-out;
}
.background-visibility-hidden-link {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(255, 255, 255,.4);
    z-index: 1002;
    cursor: default;
}

.no-transition{
	transition:none;
}
.popup-center{
	left : 24% !important;
	top : 15% !important;
	width : 50% !important;
}
.popup-center > div.notes{
     overflow-y: auto;
}
.popup-center:hover > div.tick-icon{
    display: none;
}

.display-bottom-bar > div.note-bottom-option{
    display:block;
}
#done_button{
  margin-right: 10px;
  font-size: 15px;
  vertical-align: center;
  line-height: 2em;
}
#done_button:hover{
    background:rgba(0,0,0,.4);
}

.checkbox-div{
  line-height: 1.4em;
  text-align: justify;
  margin-bottom: 5px;
  margin-top: 5px;
  border:1px solid blue;
}
.checkbox-div:hover{
  border:1px solid grey;
}

.check-box-wrapper{
  height: 9px;
  position: relative;
  display: inline;
  border: 1px solid red;
}
.check-text-box{
  position: relative;
  display: inline;
  border: 1px solid;
  width: 86%;
  float: right;
}

.select-container{
  border : 4px solid grey;
}
.select-container > div.note-bottom-option{
  display: block;
}
.select-container > div.tick-icon{
  display: inline-block;
}
.img{
  position: relative;
  width: 100%;
  padding: 20px;
}

#inputFileToLoad{
  position: absolute;
  left: 205px;
  width: 25px;
  bottom: 11px;
  opacity: 0;
}
#inputFileToLoad:hover{
  cursor: pointer;
}
.color-picker{
  display: block;
  background: white;
  width: 140px;
  height: 43px;
  position: absolute;
  bottom: 45px;
  left: 70px;
  -webkit-box-shadow: 1px 4px 8px 1px rgba(112,103,112,1);
  -moz-box-shadow: 1px 4px 8px 1px rgba(112,103,112,1);
   box-shadow: 1px 4px 8px 1px rgba(112,103,112,1);
}

#select-color:hover + div.color-picker{ 
  display: block;
}
.color-icon{
  width: 10%;
  height: 25px;
  padding: 0px auto;
  padding: 12px;
}
#icon-gal1{
  color: #D2691E;
}
#icon-gal2{
  color: red;
}
#icon-gal3{
  color: orange;
}
#icon-gal4{
  color: #00FFFF;
}
#icon-gal5{
  color: blue;
}
#icon-gal6{
  color: green;
}
.red{
  background: red;
}
.orange{
  background: orange;
}
.blue{
  background: blue;
}
.green{
  background: green;
}
.crimson{
  background: #D2691E;
}
.cyan{
  background: #00FFFF;
}