*, *:before, *:after{
box-sizing: border-box;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body{
  background: #e8e8e8;
  font-family: 'Roboto', sans-serif;
  margin: auto;
}
.site-header{
  height: 45px;
  background: #ffbb00;
  width: 100%;
}
.i-name{
    cursor: pointer;
	color: rgba(81, 69, 69, 0.6);

}
.i-name:hover{
	color:rgba(0, 0, 0, 1);
}
.icon-menu{
 float:left;
  left: 38px;
  position: absolute;
  top: 13px; 
  margin-right:0.7em;
  font-size: 1.1em;
}
.icon-menu:before{
    margin-right: 7px !important;
    margin-right: 3px !important;
    font-size: 1.2em;
}

.icon-cw{
  float: right;
  top: 9px;
  right: 68px;
  position: absolute;
  font-size: 1.4em;
}
#icon-th-list-top{
  float: right;
  top: 12px;
  right: 29px;
  position: absolute;
  font-size: 1.2em;
}
#list-menu{
	 float: right;
    top: 12px;
    right: 29px;
    position: absolute;
    font-size: 1.2em;
    position: relative;
    right: 68%;
}
#pic-icon{
  position: relative;
  left: 50%;
  top: 14px;
}
.o{
  display: inline-block;
  padding-left: 3%;
  padding-top: 1%
}
#done{
  float: right;
  padding-right: 28px;
  padding-top: 9px;
  font-size: .8em;
}
.input-div {
    background: white;
    display: block;
     width: 50%;
    margin: 0 auto;
    margin-top: 3%;
    height: 45px;
	-webkit-box-shadow: 0 7px 4px -5px #777;
	-moz-box-shadow:  0 7px 4px -5px #777;
	 box-shadow: 0 5px 4px -5px #777
}
.input-hide-div{
	  background: rgb(255, 255, 255);
	  display: none;
	  width: 50%;
	  position: inherit;
	  margin: 0 auto;
	  height: 164px;
	  margin-top: 3%;
	  -webkit-box-shadow: 0 7px 4px -5px #777;
	  -moz-box-shadow: 0 7px 4px -5px #777;
	  box-shadow: 0 5px 4px -5px #777; 
}
.input-field-div-left {
	   width: 78%;
	   height: 44px;
	   float: left;
	-webkit-box-shadow: 1px 0px 4px -5px #777;;
	-moz-box-shadow:  1px 0px 4px -5px #777;
	  border-right: 1px solid beige;
}

.input-field-div-right {
	  width: 21%;
	  float: right;
	  height: 44px;
}
.title-div{
	  background: white;
	  display: block;
	  width: 100%;
	  min-height: 36px;
      height: auto;
	  border: 1px solid red;
}
.note-div{
	 background: white;
	  display: block;
	  width: 100%;
	  min-height: 85px;
      height: auto;
	  border: 1px solid blue;
}
.option-div{
	  background: white;
	  display: block;
	  width: 100%;
	  height: 36px;
}

div[data-placeholder]:not(:focus):before {
    content: attr(data-placeholder);
    float: left;
    font-size: 17px;
	color: #BAAFAF;
	font-color: black;
	padding-top: 9px;
    padding-left: 5px;
}
/*
div[data-placeholder]:not(:focus):not([data-content]):before {
    content: attr(data-placeholder);
    float: left;
    font-size: 17px;
	color: #BAAFAF;
	font-color: black;
	margin-top: 10px;
	margin-left: 15px
}
*/
:focus {
outline: 0;
}


.section {
  width: 80%;
  min-height: 400px;
  height: auto;
  margin-top: 80px;
  margin: 0px auto;
  margin-top: 80px;
  //border: 1px solid red;
}

.notes1 {
  margin: 0px;
  background: rgba(165, 163, 163,1);
  width: 100%;
  min-height: 300px;
  height: auto;
  display: inline-block;
  padding: 6px 15px;
  padding-bottom: 46px;
}
.notes2 {
  margin: 0px;
  background: rgba(255, 109, 63, 1);
  width: 100%;
  min-height: 340px;
  height: auto;
  display: inline-block;
  padding: 6px 15px;
  padding-bottom:46px; 
  -webkit-box-shadow: 0 7px 4px -5px #777;
  -moz-box-shadow: 0 7px 4px -5px #777;
  box-shadow: 0 5px 4px -5px #777;
}

.notes3 {
  margin: 0px;
  background: rgba(255, 218, 0, 1);
  width: 100%;
  min-height: 320px;
  height: auto;
  display: inline-block;
  padding: 6px 15px;
 -webkit-box-shadow: 0 7px 4px -5px #777;
 -moz-box-shadow:  0 7px 4px -5px #777;
  box-shadow: 0 5px 4px -5px #777;    
}

.notes4 {
  margin: 0px;
  background: rgba(63, 195, 255, 1);
  width: 100%;
  min-height: 260px;
  height: auto;
  display: inline-block;
  padding: 6px 15px;
 -webkit-box-shadow: 0 7px 4px -5px #777;
 -moz-box-shadow:  0 7px 4px -5px #777;
 box-shadow: 0 5px 4px -5px #777;
}

#icon-ok {
  font-size: 1.7em;
}
.note-container {
    position: relative;
    height: auto;
    display: inline-block;
    float: left;
    width: 22%;
    margin: 0 10px;
    z-index: auto;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.note-bottom-option {
  background: rgba(137, 130, 130, .6);
  padding-top: 9px;
  position: absolute;
  width: 100%;
  height: 46px;
  bottom: 3px;
  opacity: 0.8;
  padding-left: 10px;
}
.tick-icon {
 display: none;
  position: absolute;
  width: 28px;
  height: 28px;
  left: -18px;
  top: -15px;
}
.note-container:hover > div.tick-icon {
 cursor: pointer;
 display:inline-block;
}
.note-container:hover > div.note-bottom-option {
 cursor: pointer;
 display:block;
}
.note-container:hover{
   cursor: pointer; 
  -webkit-box-shadow: 1px 4px 24px 1px rgba(112,103,112,1);
  -moz-box-shadow: 1px 4px 24px 1px rgba(112,103,112,1);
   box-shadow: 1px 4px 24px 1px rgba(112,103,112,1);
}
.menu {
    padding-left: 20px;
    background:#FFF;
    position: absolute;
    top:0;
    height: 100%;
    width:240px;
    border: 1px solid;
    
}
.side-menu-ul li{
    list-style-type: none;
      margin: 33px -42px;
}
#side-menu{
   transition: transform .6s  linear;
    transform: translate(-240px,0px);
       
}
#side-menu:target {
  transform: translate(0px,0px);
}

.overlay {
    position: fixed;
    top:0;
    left: 0px;
    width: 100%;
    height:100%;
    border: 1px solid;
    visibility: hidden;
    opacity: 0;
    z-index: 1000;
    transition:opacity .3s ease-in-out;
}
.background-visibility-hidden-link {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0,.6);
    z-index: 1002;
    
}
/*
.display-new-div{
    transform: scale(2,1) translate(20%,20%);
    z-index: 1200;
    position: relative;
    overflow-y:auto;
    cursor:pointer;
}
*/
.no-transition{
	transition:none;
}

.popup-center{
	left : 25% !important;
	top : 10% !important;
	width : 50% !important;
}
